@import url("https://fonts.googleapis.com/css?family=Aldrich|Orbitron&display=swap");
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

footer {
  margin-top: 5rem;
  font-size: 15px;
}

#copy {
  font-size: 12px;
}

.footerTitle {
  color: #ff6b00;
  font-size: 20px;
}

.redesSociais {
  font-size: 30px;
  outline: none;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #ff6b00 !important;
  float: left;
  margin: 10px;
}

html {
  scroll-behavior: smooth;
}

.border-top {
  border-top: 1px solid #ff6b00 !important;
}

.imgTeamMasterCode {
  opacity: 0.6;
}

.logoLeft {
  position: relative;
  left: 10px !important;
}

.ulRight {
  position: absolute !important;
  right: 100px !important;
  font-size: 18px;
}

.end {
  position: relative;
  right: 0px;
}

#myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  outline: none;
  color: white;
  width: 70px;
  height: 70px;
  border: none !important;
  background-color: #ff6b00 !important;
  opacity: 0.5;
}

#myBtnWhats {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 30px;
  outline: none;
  color: white;
  width: 70px;
  height: 70px;
  border: none !important;
  background-color: green !important;
  opacity: 0.5;
}

.button-colapse {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("../img/button.png");
}

.titleOrange {
  color: #ff6b00;
  font-family: Roboto;
  font-weight: 700;
}

.icon-color {
  background-color: #ff6b00;
}

.masterCode {
  font-size: 40px;
  opacity: 0.5;
}

.msg {
  font-size: 25px;
}

.smallText {
  font-size: 14px;
}

.imageMaster {
  width: 70%;
  opacity: 0.5;
  display: inline-flex;
  text-align: center;
  justify-content: center;
}
.imagemCode {
  width: 70%;
  height: 170px;
}
.sticky {
  background-color: #ff6b00;
  height: 830px;
  width: 10px;
}

.routerServices {
  right: 50%;
}
.point {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6a03;
  position: absolute;
}
.divAbout {
  background-color: #ececec;
  box-shadow: -10px 10px #ff6b00;
  width: 100%;
  height: 420px;
}

.stackProf {
  color: #414141;
  font-family: Roboto;
}

.space4 {
  letter-spacing: 0.145em;
}

.navBlack {
  background-color: #1c1c1c;
}

.toolBox {
  height: 150px;
  width: 150px;
  transform: rotate(-45deg);
  display: flex;
  background-color: #353535;
  border: 2px solid #ff6b00;
  align-items: center;
  position: relative;
  margin: auto;
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.329);
}

.teamMasterCode {
  background-color: #414141;
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.329);
  width: 240px;
  height: 300px;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.textTeamMasterCode {
  width: 240px;
}

a {
  text-decoration: none;
  list-style: none;
}

.cardBox {
  background-color: #ff6b00;
  height: 200px;
  display: grid;
  padding: 20px;
}

.cardMaster {
  width: 100%;
  max-height: 100%;
  background-color: #ff6a03;
}
.cardMasterHeader {
  color: white;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  align-content: center;
  height: 2rem;
  width: 100%;
}
.cardMasterSubtitle {
  color: rgba(245, 245, 245, 0.664);
  font-size: 12px;
  font-family: Roboto;
  display: flex;
  align-content: center;
  width: 100%;
}
.rotate-icon {
  transform: rotate(45deg);
}

.bkimage {
  background-image: url(../assets/img/wall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: exclusion;
  width: 100%;
  height: 160%;
  position: absolute;
  opacity: 0.2;
  z-index: -10;
}

body {
  margin-top: 80px;
  background-color: #181818;
  color: white;
}

/* 
button{
    background-color: #FF6B00;
    color: white;
    border-radius: 15px;
    width: 200px;
    border: 0px;
} */

.buttonMaster {
  box-shadow: 0px 10px 50px #d75f0e4d;
  width: 200px !important;
  border-radius: 30px;
  height: 40px;
  border: 0px solid;
  background-color: #ff6a03;
}

.buttonMaster:hover {
  background-color: rgb(255, 180, 19);
}

span.spanOrange {
  color: #ff6b00;
}

h1,
h3 {
  color: #ff6b00;
}

.backgroundColorGray {
  background-color: #353535;
}

header a,
footer a {
  text-decoration: none;
  color: white;
}

header a:hover,
footer a:hover {
  text-decoration: none;
  color: #ff6b00;
}

footer ul {
  list-style-type: none;
}

footer li {
  float: left;
  margin: 10px;
}

header ul {
  position: relative;
  left: 100;
}

.list {
  list-style: none;
}

.title a {
  color: #ff6b00 !important;
}

.effect::after {
  color: #ff6b00;
  content: "|";
  opacity: 1;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend {
  font-size: 0.825em;
  margin-bottom: 0.5em;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm button,
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm button:focus,
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  background-color: green;
  border-radius: 10px;
  width: 150px;
  color: white;
}
#fs-frm button,
#fs-frm select {
  text-transform: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

.main-timeline8 {
  overflow: hidden;
  position: relative;
}
.main-timeline8:after,
.main-timeline8:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-timeline8:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #d6d5d5;
  position: absolute;
  top: 30px;
  left: 50%;
}
.main-timeline8 .timeline {
  width: 50%;
  float: left;
  padding-right: 30px;
  position: relative;
}
.main-timeline8 .timeline-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fe6847;
  position: absolute;
  top: 5.5%;
  right: -17.5px;
}
.main-timeline8 .year {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: #fff;
  border-radius: 0 50px 50px 0;
  background: #fe6847;
  text-align: center;
  position: relative;
}
.main-timeline8 .year:before {
  content: "";
  border-top: 35px solid #f59c8b;
  border-left: 35px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.main-timeline8 .timeline-content {
  padding: 30px 20px;
  margin: 0 45px 0 35px;
  background: #f2f2f2;
}
.main-timeline8 .title {
  font-size: 19px;
  font-weight: 700;
  color: #504f54;
  margin: 0 0 10px;
}
.main-timeline8 .description {
  font-size: 14px;
  color: #7d7b7b;
  margin: 0;
}
.main-timeline8 .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
  right: auto;
  left: -14.5px;
}
.main-timeline8 .timeline:nth-child(2n) .year {
  border-radius: 50px 0 0 50px;
  background: #7eda99;
}
.main-timeline8 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 35px solid transparent;
  left: auto;
  right: 0;
}
.main-timeline8 .timeline:nth-child(2n) .timeline-content {
  text-align: right;
  margin: 0 35px 0 45px;
}
.main-timeline8 .timeline:nth-child(2) {
  margin-top: 170px;
}
.main-timeline8 .timeline:nth-child(odd) {
  margin: -175px 0 0;
}
.main-timeline8 .timeline:nth-child(even) {
  margin-bottom: 80px;
}
.main-timeline8 .timeline:first-child,
.main-timeline8 .timeline:last-child:nth-child(even) {
  margin: 0;
}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
  border-color: #7eda99;
}
.main-timeline8 .timeline:nth-child(2n) .year:before {
  border-top-color: #92efad;
}
.main-timeline8 .timeline:nth-child(3n) .timeline-icon {
  border-color: #8a5ec1;
}
.main-timeline8 .timeline:nth-child(3n) .year {
  background: #8a5ec1;
}
.main-timeline8 .timeline:nth-child(3n) .year:before {
  border-top-color: #a381cf;
}
.main-timeline8 .timeline:nth-child(4n) .timeline-icon {
  border-color: #f98d9c;
}
.main-timeline8 .timeline:nth-child(4n) .year {
  background: #f98d9c;
}
.main-timeline8 .timeline:nth-child(4n) .year:before {
  border-top-color: #f2aab3;
}
@media only screen and (max-width: 767px) {
  .main-timeline8 {
    overflow: visible;
  }
  .main-timeline8:before {
    top: 0;
    left: 0;
  }
  .main-timeline8 .timeline:nth-child(2),
  .main-timeline8 .timeline:nth-child(even),
  .main-timeline8 .timeline:nth-child(odd) {
    margin: 0;
  }
  .main-timeline8 .timeline {
    width: 100%;
    float: none;
    padding: 0 0 0 30px;
    margin-bottom: 20px !important;
  }
  .main-timeline8 .timeline:last-child {
    margin: 0 !important;
  }
  .main-timeline8 .timeline-icon {
    right: auto;
    left: -14.5px;
  }
  .main-timeline8 .year {
    border-radius: 50px 0 0 50px;
  }
  .main-timeline8 .year:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0;
  }
  .main-timeline8 .timeline-content {
    margin: 0 35px 0 45px;
  }
}

ul {
  list-style-type: none;
}

.iconService {
  color: #ff6b00 !important;
  position: absolute;
  left: 10px;
}

@media only screen and (max-width: 767px) {
  .vc_row {
    flex-direction: column-reverse;
  }
}
