@import url('https://fonts.googleapis.com/css?family=Aldrich|Orbitron&display=swap');
@font-face{
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

.titleOrange{
    color: #FF6B00;   
    font-family: Roboto;
    font-weight: 700;

}

.space4{
    letter-spacing: 0.145em;
}

.toolBox{
    height: 150px;
    width: 150px;
    transform: rotate(-45deg);
    display: flex;
    background-color: #353535;
    border: 2px solid #FF6B00;
    align-items: center;
    position: relative;
    margin: auto;
    box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.329);
}

body{
    margin-top: 80px;
    background-color: #181818; 
    color: white;
}

button{
    background-color: #FF6B00;
    color: white;
    border-radius: 15px;
    width: 150px;
    border: 0px;
}

span.spanOrange{
    color: #FF6B00;
}

h1,h3{
    color: #FF6B00;
}

.backgroundColorGray{
    background-color: #353535
}

header a{
    color: #FF6B00;
}